* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER NAV BAR */
header {
    display: flex;
    justify-content: space-between;
    background-color: #ff8ba0;
}

.logo {
    font-family: 'Lobster';
    font-size: 1.5rem;
    padding: 1rem;
    margin-left: 2rem;
}

ul {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    margin-right: 2rem;
}


ul li a {
    text-decoration: none;
    margin-right: 1rem;
    color: black;
}

ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: .5rem;
}

@media only screen and (max-width: 24.375rem) {
    .logo {
        display: none;
    }

    header {
        justify-content: center;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin-bottom: 2rem;
    }
}

/* LANDING PAGE */

#landing {
    display: flex;
    align-items: center;
    min-height: 800px;
}

.slogan {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 35%;
    font-size: 2rem;
}

.brand {
    font-family: 'Lobster';
    font-size: 3rem;
    color: #FFB6C1;
}

.all {
    font-size: 3.5rem;
    color: #FFB6C1;
}

#landing img {
    margin-left: 3rem;
    border-radius: 10%;
    height: auto;
    width: 60%;
}

/* GRID DISPLAYING FLOWERS */
#flowers-container {
    margin: 5rem;
    padding: 5rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 2rem;
    row-gap: 4rem;
    color: white;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.flower {
    height: auto;
    width: 100%;
    border-radius: .5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flower:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.flower-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
}

.image {
    height: auto;
    width: 75%;
    margin-top: 1.5rem;
}

.description {
    color: black;
    margin-top: 1.5rem;
    width: 75%;
    text-align: start;
}

.price {
    color: black;
    text-align: start;
    margin-top: 2.5rem;
}

.button {
    border-radius: .5rem;
    height: 2.5rem;
    width: 6rem;
    background-color: #fff;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.button:hover {
    cursor: pointer;
    background-color: #ff8ba0;
}

/* CONTACT ME */
#contact-me {
    background-image: url(flowers/contact-me-background.jpeg);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
    margin-top: 2rem;
    font-size: 3rem;
}

.contact-form {
    margin-top: 2rem;
}

.fname, .lname, .email {
    margin-bottom: 3rem;
}
